@{
    ViewData["Title"] = "Book detail - " + Model.Title;
}


@* Book model class import connection*@
@using Project_MVC_BookShop.Models

@model Book

<div class="container">
    <h3 class="display-4">Book details</h3>
 <div class="row">
    <div class="col-md-6">
        <div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
        @* inserting images from wwwroot *@
          @* asp-append-version="true" - make a cache key in the browser memory, 
    when update the same picture with the same name it will change it in the View from server, 
    not from cache memory, Image tag helpers can use only from own server- static files folder, not images from URL *@
      <img src="~/img/book1.jpg" class="d-block w-100" alt="book1" asp-append-version="true">
    </div>
    <div class="carousel-item">
         @* inserting images from wwwroot *@
      <img src="~/img/book2.jpg" class="d-block w-100" alt="book2" asp-append-version="true">
    </div>
    <div class="carousel-item">
         @* inserting images from wwwroot *@
      <img src="~/img/book3.jpeg" class="d-block w-100" alt="book3" asp-append-version="true">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    </div>

     <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">

                @* using Title property from the Book  *@
                <h1>@Model.Title</h1>  
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-primary">
                <span class="label label-primary">By: </span>

                 @* using Author property from the Book   *@
                <span class="monospaced">@Model.Author</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                  @* using Description property from the Book  *@
               <p class="description">@Model.Description</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-outline-primary">
                    Read now
                </button>
            </div>
        </div>

        <hr/>

        <ul class="list-group">
            @* taking data from each book *@
            <li class="list-group-item"><span class="font-weight-bold">Category - </span> @Model.Category</li>
            <li class="list-group-item"><span class="font-weight-bold">Total pages - </span> @Model.TotalPages</li>
            <li class="list-group-item"><span class="font-weight-bold">Language - </span> @Model.Language</li>
        </ul>

    </div>
 </div>

 <hr/>

 <div class="py-5 by-light">
    <h3 class="h3">Similar books</h3>
    <div class="row">

@for(int i=0; i<5; i++){

     <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img src="https://img-b.udemycdn.com/course/750x422/4715176_8391.jpg" alt="logo">
                <div class="card-body">
                    <h3 class="card-title">book.Title</h3>
                    <p class="card-text">book.Description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="#" class="btn btn-sm btn-outline-secondary">View details</a>
                        </div>
                        <small class="text-muted">book.Author</small>
                    </div>

                </div>

            </div>
        </div>

}

       
    </div>
 </div>

</div>