@using Project1.Models
@model Car

<h1> Full Car Details</h1>

<p>Car Id: @Model.Id</p>
<p>Car Brand: @Model.Name</p>
<p>Price: @Model.Price</p>
<p>Year: @Model.Year</p>
<p>FuelType type: @Model.FuelType</p>