@* import Product class ,from Models folder*@
@using Project1.Models

@{
    ViewData["Title"] = "Vending";

    var products = new List<Product>(){
         new Product(){Id = 1, Name = "Bread", Img = "/IMG/machine/bread.jpg", Price = 0.95},
         new Product(){Id = 2, Name = "Milk", Img = "/IMG/machine/milk.png", Price = 1.35},
         new Product(){Id = 3, Name = "Apples", Img = "/IMG/machine/apple.webp", Price = 0.85},
         new Product(){Id = 4, Name = "Eggs", Img = "/IMG/machine/eggs.webp", Price = 1.79},
         new Product(){Id = 5, Name = "Bananas", Img = "/IMG/machine/Bananas-Loose.jpg", Price = 0.95},
         new Product(){Id = 6, Name = "Lemon", Img = "/IMG/machine/lemon.webp", Price = 0.28},
         new Product(){Id = 7, Name = "Roast Pork Loin ", Img =  "/IMG/machine/Pork.jpg", Price = 4.89},
         new Product(){Id = 8, Name = "Potato", Img = "/IMG/machine/potato.jpg", Price = 1.25},
         new Product(){Id = 9, Name = "Carrot", Img = "/IMG/machine/CARROT.jpg", Price = 0.75},
         new Product(){Id = 10, Name = "Onion", Img = "/IMG/machine/onion.jpg", Price = 0.65},
         new Product(){Id = 11, Name = "Salmon", Img = "/IMG/machine/salmon.jpg", Price = 2.95},
         new Product(){Id = 12, Name = "Cheese", Img = "/IMG/machine/cheese.jpg", Price = 3.89},
        };


        float money = 15;
        string name = "Jack";


        double addProduct(double productPrice){       
         return @money-productPrice;
        };

        string changeName(){
           return name = "Felex";
        }
        
}


<h1>This is Vending machine</h1>

<p></p>

<hr/>

<h4 class="header-products">You have £15 in your pocket for groceries. Please choose products to buy.</h4>

<section class="section-products">
    @foreach(var item in products){
        <button  class="card-btn" onclick="@addProduct(@item.Price)">
            <div class="card-container-product">

                <ul >
                    <li class="img-container">
                        <p class="product-name"><b>
                            @item.Name
                        </b></p> 
            
                        <img src="@item.Img" alt="Item logo" width="150" height="150"/>
                        <p>£ @item.Price</p>
            
           
                    </li>
                </ul>
            </div>
        </button>
    }
</section>
<hr>

  <div class="pocket-container">
    <h3 class="product-pocket">Money left in your pocket: £ @money</h3>
    <button class="reset-btn" onClick="Reset">Reset</button>
    </div>
    <h3>Products in your basket: </h3>

<button onclick="@changeName()">Change Name</button>
<p>@name</p>


@* <p> @Test.changeName()</p> *@

